@import '../../styles/globals.scss';

.container{
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: $white-color;
    padding: 40px 0;
    margin-top: 20px;
    border-radius: 30px;
}