@import '@/src/styles/globals';

.section    {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    background-color: $color-backgroud;
    margin: 0px 140px;

    h2{
        font-size: 48px;
        font-weight: 700;
        color: $light-red-color;
    }

    p{
        font-size: 20px;
        font-weight: 400;
        color: $dark-gray-color;
    }
}

.ul {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    margin-bottom: -40px;
}

.li {
    background-color: $selector;
    border-radius: 15px 15px 0px 0px;
    color: $light-green-color;
    cursor: pointer;
    display: grid;
    list-style-type: none;
    height: 44px;
    place-content: center;
    text-align: center;
    width: 179px;
}
