$light-red-color: #c51605;
$dark-red-color: #870c00;

$light-green-color: #018d06;
$dark-green-color: #006204;

$light-gray-color: #5c5c5c;
$dark-gray-color: #232323;

$text-color: #1e1e1e;
$text-color-light: #ebdfdf;

$color-backgroud: #e8e8e8;
$white-color: #ffffff;

$input-color: #f6f6f6;
$selector: #fefefe;
