@import './colors';

@mixin button {
    background-color: $light-green-color;
    background-image: linear-gradient(100deg, $light-green-color 0%, $dark-green-color 100%);
    border: none;
    border-radius: 15px;
    color: $white-color;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    z-index: 1;

    &::before {
        background-color: $dark-green-color;
        background-image: linear-gradient(100deg, $dark-green-color 0%, $light-green-color 100%);
        bottom: 0;
        border-radius: 15px;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.3s linear;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }
}

@mixin container_1 {
    width: 50%;
    background: $light-red-color;
    background: linear-gradient(100deg, $light-red-color 0%, $dark-red-color 100%);
    display: grid;
    place-content: center;

    @media  (max-width: 768px)  {
        h2 {
            font-size: 40px;
        }
        width: 100%;
        min-height: 40%;
        background: $white-color;
        padding-top: 70px;
    }
}

@mixin container_2  {
    align-self: center;
    width: 50%;
    background-color: $color-backgroud;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0px 0 20px;
    gap: 40px;
    margin: 0 auto;

    h2 {
        font-family: 'Neuton';
        font-size: 52px;
        font-weight: 700;
        color: $dark-green-color;
        text-align: center;
    }

    .back_text {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        margin-top: -7px;
    }

    @media  (max-width: 850px)  {
        h2 {
            font-size: 40px;
        }
    }

    @media  (max-width: 768px)  {
        width: 100%;
        min-height: 60%;
        background: $white-color;

        h2 {
            margin-top: -40px;
        }
    }

}

@mixin politics {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: $text-color;
    font-size: 15px;
    text-align: center;

    span {
        color: $light-gray-color;
        font-size: 15px;
    }
}