@import '../../styles/globals.scss';

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: $white-color;

    h3 {
        font-size: 20px;
        color: $light-gray-color;
        display: grid;
        place-content: center;
        font-weight: 700;
        height: 60px;
        text-align: center;
        margin: -10px auto;
        width: 200px;
    }

    .details {
        font-size: 12px;
        font-weight: 400;
        color: $dark-gray-color;
        display: grid;
        place-content: center;
        text-align: center;
        height: 65px;
        margin: 10px auto;
        width: 220px;
    }

    .price {
        font-size: 18px;
        font-weight: 700;
        color: $light-green-color;
        display: flex;
        align-items: flex-end;
    }

    .button_add_dish {
        @include button;
        border-radius: 10px;
        width: 200px;
        height: 35px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
    }
}

.category {
    align-self: flex-end;
    margin-right: 60px;
    margin-bottom: -30px;
    position: relative;
    width: 45px;
}

.image {
    width: 160px;
}

.value {
    font-size: 20px;
    color: $dark-green-color;
    margin-left: 2px;
    margin-bottom: -1px;
}

.remove_button {
    width: 30px;
    height: 30px;
    color: $text-color-light;
    background-color: $light-red-color;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.add_button {
    width: 30px;
    height: 30px;
    color: $text-color-light;
    background-color: $light-green-color;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.number {
    height: 30px;
    background-color: $color-backgroud;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .card {
        width: 270px;
    }

    .image {
        width: 120px;
    }

    .h3 {
        width: 290px;
    }

    .details {
        font-size: 10px;
    }

    .category {
        margin-bottom: -20px;
        margin-right: 40px;
        width: 30px;
    }
}
