@import '/src/styles/colors';

.header {
    align-items: center;
    background-color: $dark-red-color;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.searchBar  {
    align-items: center;
    background-color: $input-color;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    padding: 0px 5px;
    width: 300px;

    input {
        border: none;
        font-size: 12px;
        height: 20px;
        padding: 0 20px;
        width: 250px;

        outline: none;
    }
}

.search {
    background-color: $dark-green-color;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.logo   {
    width: 140px;
}

.userButton {
    align-items: center;
    color: $white-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;

    p   {
        font-size: 18px;
    }
}

.options    {
    background-color: $light-red-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    padding: 15px 10px;
    position: absolute;
    width: 156px;
}

.menuItem   {
    color: $white-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
}

@media(max-width: 768px){
    .header{
        .logo{
            width: 150px;
        }
    
        input{
            width: 250px;
            height: 35px;
        }
    }
}

@media(max-width: 550px){
    .header{
        .logo{
            width: 120px;
        }
    
        input{
            width: 130px;
            height: 25px;
        }
    }
}

.hidden {
    display: none;
}

.visible    {
    display: flex;
}