@import '/src/styles/_colors.scss';

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.button {
    width: 640px;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 35px;
    font-weight: 700;
    color: $white-color;
    background: $light-green-color;
    background: linear-gradient(100deg, $light-green-color 0%, $dark-green-color 100%);
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background: $dark-green-color ;
    background: linear-gradient(100deg, $dark-green-color 0%, $light-green-color 100%);
}

.container_1 {
    width: 50%;
    background: $light-red-color;
    background: linear-gradient(100deg, $light-red-color 0%, $dark-red-color 100%);
    display: grid;
    place-content: center;
}

.container_2 {
    width: 50%;
    background-color: $color-backgroud;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px;

    h2 {
        font-family: 'Neuton';
        font-size: 52px;
        font-weight: 700;
        color: $dark-green-color;
    }

    span {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        border: none;
    }

    form {
        font-size: 24px;
        color: $dark-green-color;
        font-weight: 700;

        input {
            background-color: $input-color;
            border: none;
            border-radius: 10px;
            height: 50px;
        }

        .flex_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .flex_input_2 {
            display: flex;
            gap: 20px;
        }

        .input_name {
            width: 500px;
        }

        .input_phone {
            width: 250px;
        }

        .input_table {
            width: 100px;
        }
    }

    .back_text{
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        margin-top: -7px;
        transition: .3s;
    }

    .back_text:hover{
        color: $light-green-color;
    }

}

.politic {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: $text-color;
    font-size: 15px;

    span {
        color: $light-gray-color;
        font-size: 15px;
    }
}