@import '@/src/styles/globals.scss';

.main {
    @include main;
}

.logo {
    @include logo;
}

.logo_mobile {
    @include logo_mobile;
}

.button {
    @include button;
}

.container_1 {
    @include container_1;
}

.container_2 {
    @include container_2;

    h2 {
        font-family: 'Neuton';
        font-size: 52px;
        font-weight: 700;
        color: $dark-green-color;
        text-align: center;
    }

    span {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        border: none;
    }

    form {
        font-size: 24px;
        color: $dark-green-color;
        font-weight: 700;
        padding: 0px 50px;
        width: 100%;

        input {
            background-color: $input-color;
            border: none;
            border-radius: 10px;
            height: 50px;
            width: 100%;
            font-size: 20px;
            padding-left: 20px;
        }

        .flex_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 700;
        color: $text-color;

        span {
            color: $light-gray-color;
            transition: 0.3s;
            font-size: 20px;
        }

        span:hover {
            color: $dark-gray-color;
        }
    }

    .back_text {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        margin-top: -10px;
        transition: 0.3s;
    }

    .back_text:hover {
        color: $light-green-color;
    }
}

.politic {
    @include politics;
}

@media (max-width: 850px) {
    .container_2 {
        h2 {
            font-size: 40px;
        }

        form {
            font-size: 18px;
            padding: 0px 40px;
        }
    }
}

@media (max-width: 620px) {
    .container_2 {
        h2 {
            font-size: 30px;
        }

        form {
            font-size: 18px;
        }
    }

    .back_text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container_2 {
        h2 {
            font-size: 35px;
        }
    }
}

.button {
    width: 100%;
}
