@import '@/src/styles/globals.scss';

.main {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    position: sticky;
    top: 42%;
}

.logo_mobile {
    display: none;
}

.button {
    width: 640px;
    height: 70px;
    font-size: 35px;
    @include button;
}

.container_1 {
    @include container_1;
}

.container_2 {
    @include container_2;

    h2 {
        font-family: 'Neuton';
        font-size: 52px;
        font-weight: 700;
        color: $dark-green-color;
        text-align: center;
    }

    span {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        border: none;
    }

    form {
        font-size: 24px;
        color: $dark-green-color;
        font-weight: 700;

        input {
            background-color: $input-color;
            border: none;
            border-radius: 10px;
            height: 50px;
            width: 600px;
            font-size: 20px;
        }

        .flex_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 700;
        color: $text-color;

        span {
            color: $light-gray-color;
            transition: 0.3s;
            font-size: 20px;
        }

        span:hover {
            color: $dark-gray-color;
        }
    }

    .back_text {
        color: $dark-green-color;
        font-size: 24px;
        font-weight: 700;
        margin-top: -10px;
        transition: 0.3s;
    }

    .back_text:hover {
        color: $light-green-color;
    }
}

.politic {
    @include politics;
}

//responsividade
@media (max-width: 1300px) {
    .button {
        width: 540px;
    }

    .logo {
        width: 500px;
    }

    .container_2 {
        form {
            input {
                width: 500px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .button {
        width: 400px;
        height: 60px;
        font-size: 25px;
    }

    .logo {
        width: 400px;
        height: 120px;
    }

    .container_2 {
        form {
            input {
                width: 400px;
            }
        }
    }
}

@media (max-width: 850px) {
    .button {
        width: 300px;
        height: 50px;
        font-size: 22px;
    }

    .logo {
        width: 300px;
        height: 100px;
    }

    .container_2 {
        h2 {
            font-size: 40px;
        }

        form {
            font-size: 18px;

            input {
                width: 300px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        background-color: $white-color;
        flex-direction: column;
    }

    .button {
        width: 580px;
        height: 70px;
        font-size: 40px;
    }

    .container_1 {
        width: 100%;
        min-height: 40%;
        background: $white-color;
        padding-top: 70px;
    }

    .container_2 {
        width: 100%;
        min-height: 60%;
        background: $white-color;

        h2 {
            margin-top: -40px;
        }

        form {
            font-size: 24px;

            input {
                width: 500px;
            }
        }
    }

    .logo {
        display: none;
    }

    .logo_mobile {
        display: block;
    }
}

@media (max-width: 620px) {
    .button {
        width: 450px;
        height: 60px;
        font-size: 30px;
    }

    .logo_mobile {
        width: 400px;
        height: 100px;
    }

    .container_2 {
        h2 {
            font-size: 30px;
        }

        form {
            font-size: 18px;

            input {
                width: 300px;
            }
        }
    }

    .back_text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .button {
        width: 330px;
        height: 45px;
        font-size: 20px;
    }

    .logo_mobile {
        width: 310px;
        height: 80px;
    }

    .container_2 {
        h2 {
            font-size: 35px;
        }

        form {
            font-size: 18px;

            .input_name {
                width: 310px;
            }

            .input_phone {
                width: 180px;
            }
        }
    }

    .politic {
        font-size: 12px;

        span {
            font-size: 12px;
        }
    }
}
