@import '@/src/styles/globals';

.main   {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    padding: 120px 140px;

    p   {
        margin-bottom: 5px;
    }
}

.dashboard  {
    background-color: $white-color;
    border-radius: 15px;
    padding: 20px 0px;
}

.h1 {
    color: $light-green-color;
    font-size: 40px;
}

.tr {
    display: flex;
    justify-content: space-evenly;

    h6  {
        text-align: left;
        font-size: 16px;
        width: 220px;
    }
}

.row    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divide {
    align-items: center;
    display: flex;
    font-size: 16px;
    gap: 5px;
    padding: 5px 0px;
    width: 220px;

    p   {
        width: 80px;
    }
}

.buttons    {
    display: flex;
    gap: 3px;
}

.button {
    border: none;
    border-radius: 2px;
    color: $white-color;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    height: 20px;
    place-content: center;
    width: 20px;
}

.add    {
    background-color: $light-green-color;
}

.remove {
    background-color: $light-red-color;
}

.empty  {
    padding: 0px 40px;
}

.thumbnail  {
    width: 80px;
}

.total  {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    padding-right: 12%;
    text-align: left;
}


@media  (max-width: 1220px) {
    .main   {
        padding: 80px 100px;
    }

    .h1 {
        font-size: 32px;
    }

    .tr {
        h6  {
            width: 180px;
        }
    }

    .divide {
        font-size: 10px;
        width: 180px;
    }

    .total  {
        .price  {
            font-size: 10px;
        }
        padding-right: 2%;
    }

    .dashboard  {
        padding: 20px 40px;
    }

    .thumbnail  {
        width: 40px;
    }

    .button {
        font-size: 14px;
        height: 15px;
        width: 15px;
    }
}

@media  (max-width: 768px)  {
    .row    {
        gap: 10px;
    }
    .h1 {
        font-size: 20px;
        margin-top: 40px;
    }

    .main   {
        padding: 60px 30px;
        text-align: center;
        .p   {
            font-size: 12px;
        }
    }

    .dashboard  {
        padding: 20px;
    }

    .tr {
        h6  {
            font-size: 10px;
            width: 100px;

        }
    }

    .divide {
        font-size: 8px;
        width: 100px;
    }

    .thumbnail  {
        width: 30px;
    }

    .total  {
        font-size: 8px;
        padding-right: 2%;
        .price  {
            font-size: 8px;
        }
    }
}

@media  (max-width: 425px)  {
    .thumbnail  {
        display: none;
    }

    .main   {
        padding: 20px 5px;
    }
}