@import '@/src/styles/globals';

.main   {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 140px;
}

.dashboard  {
    background-color: $white-color;
    border-radius: 15px;
    padding: 20px 0px;
}

.h1 {
    color: $light-green-color;
    font-size: 40px;
    margin-bottom: 20px;
}

.tr {
    display: flex;
    justify-content: space-evenly;

    h6  {
        width: 220px;
    }
}

.row    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divide {
    align-items: center;
    display: flex;
    font-size: 12px;
    gap: 5px;
    padding: 5px 0px;
    width: 220px;

    p   {
        width: 80px;
    }
}

.buttons    {
    display: flex;
    gap: 3px;
}

.button {
    border: none;
    border-radius: 2px;
    color: $white-color;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    height: 20px;
    place-content: center;
    width: 20px;
}

.add    {
    background-color: $light-green-color;
}

.remove {
    background-color: $light-red-color;
}

.thumbnail  {
    width: 60px;
}

@media  (max-width: 1220px) {
    .main   {
        padding: 80px 100px;
    }

    .tr {
        h6  {
            width: 180px;
        }
    }
    .divide {
        font-size: 10px;
        width: 180px;
    }

    .dashboard  {
        padding: 20px 40px;
    }

    .thumbnail  {
        width: 40px;
    }

    .button {
        font-size: 14px;
        height: 15px;
        width: 15px;
    }
}

@media  (max-width: 768px)  {
    .h1 {
        font-size: 30px;
    }

    .main   {
        padding: 60px 30px;
    }

    .dashboard  {
        padding: 20px;
    }

    .tr {
        h6  {
            width: 140px;
        }
    }

    .divide {
        font-size: 8px;
        width: 120px;
    }

    .thumbnail  {
        width: 30px;
    }
}

@media  (max-width: 425px)  {
    .main   {
        padding: 60px 5px;
    }
}